@model Day3_Assignment.Models.Product
@{
}
<h1>Products</h1>
<div class="container">
    <pre>
PId:@Model.pid
Name:@Model.pname
Price:@Model.price
Stock:@Model.stock
</pre>
    <a href="GetAll">back</a>
</div>